[submodule "java-racingcar"]
	path = java-racingcar
	url = https://github.com/iiaii/java-racingcar.git
	branch = step5
[submodule "java-lotto"]
	path = java-lotto
	url = https://github.com/iiaii/java-lotto.git
	branch = step4
[submodule "java-ladder"]
	path = java-ladder
	url = https://github.com/iiaii/java-ladder.git
	branch = step4
[submodule "java-bowling"]
	path = java-bowling
	url = https://github.com/iiaii/java-bowling.git
	branch = step4
